:root {
  --color-white: #f1f1f1;
  --color-background: #272727;
  --color-lightgrey: #999;
  --color-background-darker: #101010;
  --color-background-signUp: #1e1e1e;
  --color-background-games: #484848;
  --color-background-Testimonials: rgba(217, 217, 217, 16%);
  --text-shadow: #a93cff;
  --gradient-main: linear-gradient(to right, #a93cff, #44e9ff);
  --color-orange: #ffa800;
  --color-lightblue: #44e9ff;

  /* Pagination */

  --hover-transparent: rgba(255, 255, 255, 0.192);
  --active-transparent: rgba(255, 255, 255, 0.315);

  /* Socials */
  --facebook: #0062e0;
  --instagram: #ff008c;
  --youtube: #ff0000;
  --twitch: #9000ff;
}
/* NavBar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.scrolled {
  background-color: var(--color-background-darker);
  height: 7.5rem;
}

.scrolled img {
  height: 6.5rem;
}

.scrolled .searchBar {
  height: 4rem;
  font-size: 2rem;
}

.scrolled .searchBar__btn {
  height: 4rem;
  width: 4rem;
}

.searchContainer {
  position: relative;
}

.searchBar {
  font-size: 2.4rem;
  width: 60rem;
  height: 5rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  padding: 2rem;
  background-color: var(--color-background);
  color: var(--color-white);
  transition: all 0.2s;
}

.searchBar:hover {
  width: 60.8rem;
}

.searchBar__btn {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: none;
  background: var(--gradient-main);
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0.1s;
}

.searchBar__btn:hover {
  cursor: pointer;
}

.searchBar::placeholder {
  color: var(--color-white);
}

.btn {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.btnCart {
  background: var(--color-orange);
  margin-right: 1rem;
}

.btnLogin {
  background: var(--color-lightblue);
}

/* Section Home */

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  height: 77vh;
  width: 100%;
  background-image: url("./assets/Slice1.png");
  z-index: -1;
}

.home::after {
  content: "";
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  background: var(--color-background);
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  z-index: 1;
}

.container {
  padding: 2rem 15rem;
  max-width: 100%;
  height: auto;
}
.grid--Container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

/* Section GameBox */

.viewAll__Btn {
  width: 15rem;
  height: 4rem;
  border-radius: 1.5rem;
  background: var(--gradient-main);
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 700;
}

.items__grid {
  margin-top: 7rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
}

.item {
  width: 38rem;
  height: 26rem;
  background-color: var(--color-background-games);
  border-radius: 2rem;
  margin: 2rem;
  position: relative;
}

.item::after {
  content: attr(data-after);
  position: absolute;
  background-color: var(--color-orange);
  display: inline-block;
  width: 7.4rem;
  height: 4rem;
  border-radius: 1rem 1rem 5rem 1rem;
  color: var(--color-background-darker);
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  top: -5px;
  left: -5px;
}

.item_img {
  width: 38rem;
  height: 22rem;
  border-radius: 2rem;
  transition: all 0.2s;
}

.item_img:hover {
  transform: scale(1.02);
}

.item_info {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  font-size: 2rem;
  padding: 0 1rem;
  line-height: 1.3;
}

/* GamePage */

.game-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 10rem;
}

.game-page img {
  width: 60rem;
  border-radius: 2rem;
}

.game-page p {
  color: var(--color-orange);
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

.game-page h2 {
  color: var(--color-white);
}

.game-page_btn {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 600;
  width: 10rem;
  border-radius: 1rem;
  background: var(--gradient-main);
  margin-bottom: 4rem;
}

/* Pagination */
.pagination-bar {
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.pagination-container {
  display: flex;
  list-style-type: none;
}

.pagination-item {
  padding: 0 1.2rem;
  height: 3.2rem;
  text-align: center;
  margin: auto 4px;
  color: var(--color-orange);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 1.6rem;
  line-height: 1.43;
  font-size: 2rem;
  /* min-width: 32px; */
}

.pagination-item:hover {
  background-color: var(--hover-transparent);
  cursor: pointer;
}

.dots:hover {
  background-color: transparent;
  cursor: default;
}

.selected {
  background-color: var(--active-transparent);
}

.arrow::before {
  position: relative;
  /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
  content: "";
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid var(--color-white);
  border-top: 0.12em solid var(--color-white);
  text-align: center;
  top: -0.8px;
}

.left {
  transform: rotate(-135deg);
}

.right {
  transform: rotate(45deg);
}

.disabled {
  pointer-events: none;
}

.disabled .arrow::before {
  border-right: 0.12em solid var(--active-transparent);
  border-top: 0.12em solid var(--active-transparent);
}

/* Section info */

.infoCell {
  height: 15rem;
  background-color: var(--color-background-darker);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.infoCell__textBox {
  position: relative;
  width: 50rem;
  z-index: 0;
}

.infoCell__textBox h2 {
  color: var(--color-white);
}

.infoCell__textBox span {
  line-height: 0;
  color: var(--color-orange);
}

.infoCell__textBox:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: var(--color-orange);
  height: 9rem;
  width: 0.3rem;
  top: 1rem;
  right: 0;
}

.section_testimonials {
  height: 45rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  column-gap: 2rem;
  height: auto;
  background-color: var(--color-background-Testimonials);
  border-radius: 2rem;
  padding: 3rem 2rem;
}

.testimonials img {
  width: 5rem;
  height: 5rem;
}

.testimonials span {
  color: var(--color-orange);
}

.testimonials p {
  color: var(--color-white);
  font-size: 1.5rem;
}

/* Section Sign up */

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 21rem;
  border-top: 0.2px solid var(--color-background-darker);
  background: var(--color-background-signUp);
}

.signUp p {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--color-lightgrey);
}

.loginLink:link,
.loginLink:visited {
  color: var(--color-orange);
  text-decoration: none;
}

.loginLink:hover,
.loginLink:active {
  color: var(--color-white);
}

.btn_signUp {
  width: 16rem;
  height: 6rem;
  background-color: var(--color-orange);
  border-radius: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-white);
  margin-top: 1.5rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  height: 32rem;
  background-color: var(--color-background-darker);
  padding-top: 5rem;
}

.footer ul {
  list-style: none;
}

.links:link,
.links:visited {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-white);
}

.links:hover,
.links:active {
  color: var(--text-shadow);
}

.socials-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-box h6 {
  margin-bottom: 2rem;
}

.socials {
  display: flex;
  gap: 3rem;
  font-size: 4rem;
}

.icons {
  display: flex;
  padding: 1.2rem;
  border-radius: 50%;
}

.fb {
  color: var(--facebook);
  background-color: #ffeeeecb;
}

.is {
  color: var(--instagram);
  background-color: #7700ff56;
}

.yt {
  color: var(--youtube);
  background-color: #ffffff;
}

.tw {
  color: var(--twitch);
  background-color: #4400ffc2;
}
